# **Importing the Sneaker Data**

> [Data Science Intern Challenge Data Set](https://docs.google.com/spreadsheets/d/16i38oonuX1y1g7C_UAmiK9GkY7cS-64DfiDMNiR41LM/edit#gid=0)

In [3]:
from google.colab import files
import pandas as pd

upload = files.upload()
df = pd.read_csv('ShopifySneakers.csv')

Saving ShopifySneakers.csv to ShopifySneakers.csv

# **Given AOV Calculation**

**Observation:** The given AOV calculation was $3145.13, which was naively calculated by using the arithmetic-mean of the entire 'order_amount' column. This is an example of how that value was calculated:

In [15]:
mean_val = round(df['order_amount'].mean(), 2)
print('Mean Order Amount: $', mean_val)

Mean Order Amount: $ 3145.13

**Analysis:** Looking at the sorted table below, we see that there is a single customer #607 who is ordering multiple large orders, each with an order amount of 704,000. This is a very high order amount compared to the lowest order amounts in the data set, which is only 90. Since there are extremely high outliers included in the calculation, this skewed the average.

In [6]:
df.sort_values('order_amount', ascending=False)

      order_id  shop_id  ...  payment_method           created_at
2153      2154       42  ...     credit_card   2017-03-12 4:00:00
3332      3333       42  ...     credit_card   2017-03-24 4:00:00
520        521       42  ...     credit_card   2017-03-02 4:00:00
1602      1603       42  ...     credit_card   2017-03-17 4:00:00
60          61       42  ...     credit_card   2017-03-04 4:00:00
...        ...      ...  ...             ...                  ...
3871      3872       92  ...           debit   2017-03-18 9:10:08
2503      2504       92  ...     credit_card   2017-03-28 2:30:26
4414      4415       92  ...     credit_card   2017-03-17 9:57:01
3363      3364       92  ...     credit_card  2017-03-11 23:20:31
2092      2093       92  ...           debit   2017-03-04 6:44:05

[5000 rows x 7 columns]

# **Proposed AOV Calculation**

**Proposal:** A better way to evaluate this data would be to use the *median* value to calculate the average order value. Using the median of the sorted 'order_amount' column to calculate the AOV would we a better option because it does not sum extreme outliers with the entire average. Below is an example of calculating the median:

In [13]:
sorted_df = df.sort_values('order_amount', ascending=False)
median_val = round(sorted_df['order_amount'].median(), 2)
print('Median Order Amount: $', median_val)

Median Order Amount: $ 284.0

**Analysis:** When using the median of the 'order_amount' column of the data set to calculate AOV above, we see that the value is  $284.00, which is a more reasonable value for average sneaker orders.

# **Conclusion**
Using the **median** calculation of the 'order_amount' column results in a reasonable average order value for the month. This value is **$284.00**